<section class="u-align-center u-clearfix u-palette-4-dark-2 u-section-8" id="carousel_cac6">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h2 class="u-text u-text-default u-text-1">Meet the team</h2>
    <div class="u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-1 hidden-vertically">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
            <div alt="" class="u-border-12 u-border-palette-1-base u-image u-image-circle u-image-1"
              data-image-width="864" data-image-height="1080"></div>
            <p class="u-text u-text-2" style="color: white;">Software craftmanship enthusiast and founder. He is the one who bring ideas to life.</p>
            <div class="u-text u-text-default u-text-palette-1-base u-text-3">Anthony, lead developer & ops</div>
          </div>
        </div>
        <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-2 hidden-vertically">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
            <div alt="" class="u-border-12 u-border-palette-1-base u-image u-image-circle u-image-2"
              data-image-width="980" data-image-height="1500"></div>
            <p class="u-text u-text-4" style="color: white;">You want your brand to be known? Trust her, she's in charge of social communication and ads management.</p>
            <div class="u-text u-text-default u-text-palette-1-base u-text-5">Chiara, digital marketing strategist</div>
          </div>
        </div>
        <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-3 hidden-vertically">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
            <div alt="" class="u-border-12 u-border-palette-1-base u-image u-image-circle u-image-3"
              data-image-width="1000" data-image-height="1500"></div>
            <p class="u-text u-text-6" style="color: white;">Gorgeous UI, simple yet effective UX. He knows the ins and outs of what catches your users attention and will design accordingly.</p>
            <div class="u-text u-text-default u-text-palette-1-base u-text-7">Mauro, UI/UX designer</div>
          </div>
        </div>
        {{!-- <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-4 hidden-vertically">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
            <div alt="" class="u-border-12 u-border-palette-1-base u-image u-image-circle u-image-4"
              data-image-width="1260" data-image-height="698"></div>
            <p class="u-text u-text-8">Sample text. Click to select the text box. Click again or double click to start
              editing the text.</p>
            <div class="u-text u-text-default u-text-palette-1-base u-text-9">paul hudson</div>
          </div>
        </div>
        <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-5 hidden-vertically">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5">
            <div alt="" class="u-border-12 u-border-palette-1-base u-image u-image-circle u-image-5"
              data-image-width="512" data-image-height="750"></div>
            <p class="u-text u-text-10">Sample text. Click to select the text box. Click again or double click to
              start editing the text.</p>
            <div class="u-text u-text-default u-text-palette-1-base u-text-11">cash hudson</div>
          </div>
        </div>
        <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-6 hidden-vertically">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-6">
            <div alt="" class="u-border-12 u-border-palette-1-base u-image u-image-circle u-image-6"
              data-image-width="1000" data-image-height="1500"></div>
            <p class="u-text u-text-12">Sample text. Click to select the text box. Click again or double click to
              start editing the text.</p>
            <div class="u-text u-text-default u-text-palette-1-base u-text-13">mike perry</div>
          </div>
        </div> --}}
      </div>
    </div>
  </div>
</section>
