<section
  class="u-align-center u-clearfix u-container-align-center u-valign-bottom-lg u-valign-bottom-xl u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-white u-section-7"
  id="carousel_a756" data-animation-name="" data-animation-direction="">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div
            class="u-align-left u-container-align-left-lg u-container-align-left-md u-container-align-left-xl u-container-style u-layout-cell u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-1">
            <div class="u-container-layout u-container-layout-1">
              <h2 class="u-align-left u-text u-text-1 customAnimationOut"> We
                shape emotions</h2>
              <div class="u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                  <div
                    class="u-container-align-left u-container-style u-list-item u-repeater-item u-list-item-1 customAnimationOut">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                      <h4 class="u-align-left u-text u-text-default u-text-2">01.&nbsp;​We sculpt ideas</h4>
                      <p class="u-align-left u-text u-text-grey-50 u-text-3"> Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                  </div>
                  <div
                    class="u-container-align-left u-container-style u-list-item u-repeater-item u-list-item-2 customAnimationOut">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                      <h4 class="u-align-left u-text u-text-default u-text-4">02.&nbsp;​We bring concepts to life</h4>
                      <p class="u-align-left u-text u-text-grey-50 u-text-5"> Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                  </div>
                  <div
                    class="u-container-align-left u-container-style u-list-item u-repeater-item u-list-item-3 customAnimationOut">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
                      <h4 class="u-align-left u-text u-text-default u-text-6">03.&nbsp;​We create winning realities
                      </h4>
                      <p class="u-align-left u-text u-text-grey-50 u-text-7"> Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="u-container-align-left-md u-container-align-left-sm u-container-align-left-xs u-container-style u-layout-cell u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2 customAnimationOut">
            <div class="u-container-layout u-valign-middle u-container-layout-5">
              <div
                class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-gallery u-layout-grid u-lightbox u-show-text-none u-gallery-1"
                data-pswp-uid="1">
                <div class="u-gallery-inner u-gallery-inner-1">
                  <div class="u-effect-hover-zoom u-gallery-item u-shape-rectangle" data-pswp-item-id="0"
                    data-gallery-uid="1">
                    <div class="u-back-slide" data-image-width="700" data-image-height="705">
                      <img loading="lazy" class="u-back-image u-expanded u-back-image-1"
                        src="https://assets.nicepagecdn.com/d2cc3eaa/2882063/images/11.jpg">
                    </div>
                    <div class="u-over-slide u-shading u-over-slide-1"></div>
                  </div>
                  <div class="u-effect-hover-zoom u-gallery-item u-shape-rectangle" data-pswp-item-id="1"
                    data-gallery-uid="1">
                    <div class="u-back-slide" data-image-width="700" data-image-height="705">
                      <img loading="lazy" class="u-back-image u-expanded"
                        src="https://assets.nicepagecdn.com/d2cc3eaa/2882063/images/2.jpg">
                    </div>
                    <div class="u-over-slide u-shading u-over-slide-2"></div>
                  </div>
                  <div class="u-effect-hover-zoom u-gallery-item u-shape-rectangle" data-pswp-item-id="2"
                    data-gallery-uid="1">
                    <div class="u-back-slide" data-image-width="444" data-image-height="444">
                      <img loading="lazy" class="u-back-image u-expanded u-back-image-3"
                        src="https://assets.nicepagecdn.com/d2cc3eaa/2882063/images/4.jpg">
                    </div>
                    <div class="u-over-slide u-shading u-over-slide-3"></div>
                  </div>
                  <div class="u-effect-hover-zoom u-gallery-item u-shape-rectangle" data-pswp-item-id="3"
                    data-gallery-uid="1">
                    <div class="u-back-slide" data-image-width="626" data-image-height="626">
                      <img loading="lazy" class="u-back-image u-expanded u-back-image-4"
                        src="https://assets.nicepagecdn.com/d2cc3eaa/2882063/images/41.jpg">
                    </div>
                    <div class="u-over-slide u-shading u-over-slide-4"></div>
                  </div>
                </div>
              </div>
              <p class="u-align-left-md u-align-left-sm u-align-left-xs u-text u-text-8 customAnimationOut">Images from
                <a href="https://www.freepik.com/"
                  class="u-border-1 u-border-active-palette-1-base u-border-black u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-link u-button-style u-none u-text-body-color u-btn-1"
                  target="_blank" data-animation-name="" data-animation-direction="">Freepik</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
