<section class="u-align-left u-clearfix u-white u-section-6" id="carousel_eddb">
  <div
    class="custom-expanded u-align-center u-container-align-center u-container-style u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-group u-palette-4-dark-2 u-group-1">
    <div class="u-container-layout u-valign-top u-container-layout-1">
      <h2 class="u-align-center u-text u-text-default u-text-1">Some of our work</h2>
      <p class="u-align-center u-text u-text-default u-text-2" style="color: white;">Website, mobile app, marketplace, e-commerce. You name it.<br> We can showcase a lot more. We've been partnering with many companies, from startups to corporate, SMBs and administrations.</p>
    </div>
  </div>

  <div class="u-layout-horizontal u-list u-list-1">
    <div class="u-gallery-inner u-gallery-inner-1">

      <div id="slide-1" class="u-effect-hover-zoom u-gallery-item u-shape-rectangle">
        <div class="u-back-slide">
          <img loading="lazy" class="u-back-image u-expanded u-back-image-1"
            src="/images/bejoe.webp" alt="mobile app">
        </div>
        <a class="slide__prev" href="#slide-4" title="Previous"></a>
        <a class="slide__next" href="#slide-2" title="Next"></a>
        <div class="u-over-slide u-shading u-over-slide-1"></div>
      </div>

      <div id="slide-2" class="u-effect-hover-zoom u-gallery-item u-shape-rectangle">
        <div class="u-back-slide">
          <img loading="lazy" class="u-back-image u-expanded"
            src="/images/michelin.webp" alt="e-commerce site">
        </div>
        <a class="slide__prev" href="#slide-1" title="Previous"></a>
        <a class="slide__next" href="#slide-3" title="Next"></a>
        <div class="u-over-slide u-shading u-over-slide-2"></div>
      </div>

      <div id="slide-3" class="u-effect-hover-zoom u-gallery-item u-shape-rectangle">
        <div class="u-back-slide">
          <img loading="lazy" class="u-back-image u-expanded u-back-image-3"
            src="/images/agorastore.webp" alt="marketplace">
        </div>
        <a class="slide__prev" href="#slide-2" title="Previous"></a>
        <a class="slide__next" href="#slide-4" title="Next"></a>
        <div class="u-over-slide u-shading u-over-slide-3"></div>
      </div>

      <div id="slide-4" class="u-effect-hover-zoom u-gallery-item u-shape-rectangle">
        <div class="u-back-slide">
          <img loading="lazy" class="u-back-image u-expanded u-back-image-4"
            src="/images/mapfre.webp" alt="web app">
        </div>
        <a class="slide__prev" href="#slide-3" title="Previous"></a>
        <a class="slide__next" href="#slide-1" title="Next"></a>
        <div class="u-over-slide u-shading u-over-slide-4"></div>
      </div>
    </div>

    <div class="slider__nav">
      <a class="slider__navlink" href="#slide-1" aria-label="slide 1"></a>
      <a class="slider__navlink" href="#slide-2" aria-label="slide 2"></a>
      <a class="slider__navlink" href="#slide-3" aria-label="slide 3"></a>
      <a class="slider__navlink" href="#slide-4" aria-label="slide 4"></a>
    </div>
  </div>

  <div style="margin: 80px 0;">
    <h2 class="u-align-center u-text u-text-default u-text-1" style="color: #190c3a;">This is the kind of result you can expect from us.</h2>
    <p class="u-align-center u-text u-text-default u-text-2" style="color: #190c3a;">Run Google Lightouse or any performance tool on this very website and check by yourself the kind of quality we provide.</p>
    <img src="/images/lighthouse.webp" alt="lighthouse" width="986" height="304" style="height: auto; width: 100%; max-width: 800px; margin: 20px auto; display: block; position: relative;z-index:1">
    <div style="position: absolute; bottom: -85px; left: 0; width: 100%; background-color: #190c3a; height: 216px;"></div>
  </div>
    {{!-- <div class="u-repeater u-repeater-1">
      <div
        class="u-align-center u-container-style u-custom-item u-list-item u-repeater-item u-shape-rectangle u-list-item-1">
        <div class="u-container-layout u-similar-container u-container-layout-2">
          <img loading="lazy" class="u-expanded-width u-image u-image-1"
            src="https://assets.nicepagecdn.com/d2cc3eaa/2882063/images/businessmen-hands-wooden-table-w.jpg"
            data-image-width="1380" data-image-height="920">
          <h5 class="u-align-center u-text u-text-default u-text-3"> We’re all in this together</h5>
          <p class="u-align-center u-text u-text-4">Sample text. Click to select the text box. Click again or double
            click to start editing the text.</p>
        </div>
      </div>
      <div class="u-align-center u-container-style u-custom-item u-list-item u-repeater-item u-list-item-2">
        <div class="u-container-layout u-similar-container u-container-layout-3">
          <img loading="lazy" class="u-expanded-width u-image u-image-2"
            src="https://assets.nicepagecdn.com/d2cc3eaa/2882063/images/young-coworkers-sharing-concepts.jpg"
            data-image-width="1380" data-image-height="920">
          <h5 class="u-align-center u-text u-text-default u-text-5"> Be raw</h5>
          <p class="u-align-center u-text u-text-6">Sample text. Click to select the text box. Click again or double
            click to start editing the text.</p>
        </div>
      </div>
      <div class="u-align-center u-container-style u-custom-item u-list-item u-repeater-item u-list-item-3">
        <div class="u-container-layout u-similar-container u-container-layout-4">
          <img loading="lazy" class="u-expanded-width u-image u-image-3"
            src="https://assets.nicepagecdn.com/d2cc3eaa/2882063/images/asian-businessmen-businesswomen.jpg"
            data-image-width="1380" data-image-height="776">
          <h5 class="u-align-center u-text u-text-default u-text-7"> Figure it out</h5>
          <p class="u-align-center u-text u-text-8">Sample text. Click to select the text box. Click again or double
            click to start editing the text.</p>
        </div>
      </div>
      <div class="u-align-center u-container-style u-custom-item u-list-item u-repeater-item u-list-item-4">
        <div class="u-container-layout u-similar-container u-container-layout-5">
          <img loading="lazy" class="u-expanded-width u-image u-image-4"
            src="https://assets.nicepagecdn.com/d2cc3eaa/2882063/images/multiple-lightbulb-designs_53876.jpg"
            data-image-width="1380" data-image-height="920">
          <h5 class="u-align-center u-text u-text-default u-text-9"> Life is short, enjoy it</h5>
          <p class="u-align-center u-text u-text-10">Sample text. Click to select the text box. Click again or double
            click to start editing the text.</p>
        </div>
      </div>
      <div class="u-align-center u-container-style u-custom-item u-list-item u-repeater-item u-list-item-5">
        <div class="u-container-layout u-similar-container u-container-layout-6">
          <img loading="lazy" class="u-expanded-width u-image u-image-5"
            src="https://assets.nicepagecdn.com/d2cc3eaa/2882063/images/female-logo-designer-working-her.jpg"
            data-image-width="1380" data-image-height="920">
          <h5 class="u-align-center u-text u-text-default u-text-11"> Bring the chocolate</h5>
          <p class="u-align-center u-text u-text-12">Sample text. Click to select the text box. Click again or double
            click to start editing the text.</p>
        </div>
      </div>
    </div>
    <a class="u-gallery-nav u-gallery-nav-prev u-hidden-xs u-hover-palette-4-dark-2 u-icon-circle u-opacity u-opacity-70 u-palette-1-base u-spacing-10 u-gallery-nav-1 u-hidden"
      href="#" role="button">
      <span aria-hidden="true">
        <svg viewBox="0 0 451.847 451.847">
          <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
        </svg>
      </span>
      <span class="sr-only">
        <svg viewBox="0 0 451.847 451.847">
          <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
        </svg>
      </span>
    </a>
    <a class="u-gallery-nav u-gallery-nav-next u-hidden-xs u-hover-palette-4-dark-2 u-icon-circle u-opacity u-opacity-70 u-palette-1-base u-spacing-10 u-gallery-nav-2"
      href="#" role="button">
      <span aria-hidden="true">
        <svg viewBox="0 0 451.846 451.847">
          <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
        </svg>
      </span>
      <span class="sr-only">
        <svg viewBox="0 0 451.846 451.847">
          <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
        </svg>
      </span>
    </a>
  </div>
  <p class="u-align-center u-text u-text-default u-text-13 customAnimationOut">Images from&nbsp;<a
      href="https://freepik.com"
      class="u-border-1 u-border-active-palette-1-base u-border-black u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-link u-button-style u-none u-text-body-color u-btn-1"
      data-animation-name="" data-animation-direction="">Freepik</a>
  </p> --}}
</section>
