<section class="u-align-center u-clearfix u-container-align-center u-palette-1-base u-section-3" id="sec-b246">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h2 class="u-align-center u-text u-text-default u-text-1">We promise 4 things</h2>
    <div class="u-expanded-width u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div
          class="u-align-left u-border-2 u-border-white u-container-align-left u-container-style u-list-item u-radius-10 u-repeater-item u-shape-round u-list-item-1 hidden-vertically">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
            <h3 class="u-align-left u-text u-text-default u-text-2">01</h3>
            <h4 class="u-align-left u-text u-text-3">Listen to your needs</h4>
            <p class="u-align-left u-text u-text-default u-text-4">We don't want to force solutions. We want to
              understand your needs and collaborate. We want you to talk business, not technical solutions. We provide
              the technical background necessary to bring a solution to your issue.</p>
          </div>
        </div>
        <div
          class="u-align-left u-border-2 u-border-white u-container-align-left u-container-style u-list-item u-radius-10 u-repeater-item u-shape-round u-list-item-2 hidden-vertically">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
            <h3 class="u-align-left u-text u-text-default u-text-5">02</h3>
            <h4 class="u-align-left u-text u-text-6">Iterate for improvement</h4>
            <p class="u-align-left u-text u-text-default u-text-7">We know it's not always easy to fully understand the problem, let alone the solution. And even if you do know, your
            needs and the market might change. We will work with you to define the problem, implement the solution, and iterate on
            both as we gather more data. We work within your environment, tools, and current situation, and iterate from small gigs
            to the most complex projects.</p>
          </div>
        </div>
        <div
          class="u-align-left u-border-2 u-border-white u-container-align-left u-container-style u-list-item u-radius-10 u-repeater-item u-shape-round u-list-item-3 hidden-vertically">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
            <h3 class="u-align-left u-text u-text-default u-text-8">03</h3>
            <h4 class="u-align-left u-text u-text-9">Define and document</h4>
            <p class="u-align-left u-text u-text-default u-text-10">We define a common language, write it down and share
              with all stakeholders. No one is left behind, and we can all clearly communicate. From the first
              discussions to the final solution, we document what we do.</p>
          </div>
        </div>
        <div
          class="u-align-left u-border-2 u-border-white u-container-align-left u-container-style u-list-item u-radius-10 u-repeater-item u-shape-round u-list-item-4 hidden-vertically">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
            <h3 class="u-align-left u-text u-text-default u-text-11">04</h3>
            <h4 class="u-align-left u-text u-text-12">Monitor performance</h4>
            <p class="u-align-left u-text u-text-default u-text-13">You want an efficient solution, not a draft of
              buzzwords. That's what we want too. Whether for an ads campaign, a website, an app, a complex workflow to
              implement, we test and measure, so no surprise for us and anticipation for you is the norm.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
