<section class="u-align-left u-clearfix u-image u-section-1" id="carousel_96a6">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1 ">
    <div class="u-overlay"></div>
    <h1 class="u-align-right u-custom-font u-text u-text-palette-1-base u-title u-text-1">Standout from<br>the crowd
    </h1>
    <h2 class="u-align-right u-text u-text-body-alt-color u-text-2">We build sites and apps with modern
      technologies<br>so you can easily develop your business online.</h2>
    <a href="#contact"
      class="u-active-white u-align-right u-btn u-btn-round u-button-style u-hover-white u-palette-1-base u-radius-15 u-text-active-palette-1-base u-text-hover-palette-1-base u-btn-2">Contact
      Us</a>
  </div>
</section>
