<div class="u-body u-xl-mode" id="wrap">
  <header>
    <a href="#home" class="logo">
      <svg id="l" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="512" height="512">
        <path fill="white"
          d="M21,24H7c-2.757,0-5-2.243-5-5V1c.006-1.308,1.994-1.307,2,0V19c0,1.654,1.346,3,3,3h14c1.308,.006,1.307,1.995,0,2Z" />
      </svg>
      <svg id="s" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="512" height="512">
        <path fill="white"
          d="M16.151,24H7.917c-3.263,0-5.917-2.654-5.917-5.917v-1.083c.005-1.308,1.995-1.307,2,0v1.083c0,2.16,1.757,3.917,3.917,3.917h8.234c4.441-.016,5.282-6.386,1.01-7.562l-10.846-2.945C-.195,9.644,1.077,.077,7.849,0h8.234c3.263,0,5.917,2.654,5.917,5.917v1.083c-.005,1.308-1.995,1.307-2,0v-1.083c0-2.16-1.757-3.917-3.917-3.917H7.849c-4.441,.016-5.282,6.386-1.01,7.562l10.846,2.945c6.511,1.848,5.238,11.415-1.533,11.492Z" />
      </svg>
    </a>
    <nav>
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#offer">What we offer</a></li>
        <li><a href="#work">How we work</a></li>
        <li><a href="#team">Who we are</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <a href="#wrap" id="open">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="30px" height="30px" viewBox="0 0 34 27" enable-background="new 0 0 34 27" xml:space="preserve">
          <rect fill="#FFFFFF" width="34" height="4" />
          <rect y="11" fill="#FFFFFF" width="34" height="4" />
          <rect y="23" fill="#FFFFFF" width="34" height="4" />
        </svg>
      </a>
      <a href="#" id="close">
        <svg class="svg-icon" style="width: 30px; height: 30px;vertical-align: middle;fill: white;overflow: hidden;"
          viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <path d="M896 224l-96-96-288 288-288-288-96 96 288 288-288 288 96 96 288-288 288 288 96-96-288-288 288-288z" />
        </svg>
      </a>
    </nav>
  </header>

  {{> section-1 }}
  {{> section-2 }}
  {{> section-3 }}
  {{> section-4 }}
  {{> section-5 }}
  {{> section-6 }}
  {{!-- {{> section-7 }} --}}
  {{> section-8 }}
  {{> section-9 }}


  {{!-- <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-6433">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">Sample text. Click to select the Text Element.</p>
    </div>
  </footer> --}}

  {{!-- <section class="u-backlink u-clearfix u-grey-80">
    <a class="u-link" href="https://nicepage.com/html-templates" target="_blank">
      <span>HTML Template</span>
    </a>
    <p class="u-text">
      <span>created with</span>
    </p>
    <a class="u-link" href="https://nicepage.com/html-website-builder" target="_blank">
      <span>HTML Builder</span>
    </a>.
  </section> --}}
</div>

<script src="/javascripts/{{ script }}" defer></script>
