<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/{{ style }}.css" />
    <meta charset="utf-8">
    <meta name="description" content="Le Studio - Web agency specialized in JS - Offers social media management, ads campaigns, web development and mobile development - In Lyon, France">
  </head>
  <body>
    <div data-apos-refreshable>
      <a name="main" aria-label="main"></a>
      {{{body}}}
    </div>
  </body>
</html>
