[data-apos-refreshable] {
  background: var(--primary);
}

header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-size: 1.1rem;
  margin-top: 25px;
}

header nav ul li a {
  color: white;
}

#open, #close {
  display: none;
}

@media (max-width: 575px) {
  header nav ul {
    flex-direction: column;
    align-items: end;
    right: -130px;
    position: fixed;
  }

  #wrap {
    font-family: sans-serif;
    font-size: 21px;
    line-height: 1.6;
    margin: 0;
    display: flex;
    flex-direction: column;
    transition: transform .4s cubic-bezier(.25, .1, .25, 1);
  }

  #wrap:not(:target) {
    transform: translate3d(0, 0, 0);
  }

  #wrap:target {
    transform: translate3d(-145px, 0, 0);
  }

  #open,
  #close {
    height: 44px;
    text-align: right;
    display: block;
    margin-right: 14px;
    top: 32px;
    position: relative;
  }

  #wrap:target #open,
  #wrap:not(:target) #close {
    display: none;
  }

  #wrap:target #open {
    display: none;
  }
}

.logo {
  position: absolute;
  border: 3px solid white;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  top: 12px;
  left: 14px;
  z-index: 1;
}

.logo #l {
  width: 25px;
  height: 25px;
  position: relative;
  top: 8px;
  left: 11px;
  z-index: 0;
}

.logo #s {
  width: 25px;
  height: 25px;
  position: relative;
  top: -14px;
  left: 23px;
  z-index: 0;
}

@media (max-width: 991px) {
  .logo {
    height: 50px;
    width: 50px;
    top: 10px;
    left: 8px;
  }

  .logo #l {
    width: 15px;
    height: 15px;
    top: 7px;
    left: 11px;
  }

  .logo #s {
    width: 15px;
    height: 15px;
    top: 14px;
    left: 1px;
  }
}

@media (max-width: 575px) {
  .logo {
    top: 25px;
    left: 12px;
  }

  .logo #l {
    top: 2px;
    left: 11px;
  }

  .logo #s {
    top: 10px;
    left: -2px;
  }
}

.u-overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100vw !important;
  background: rgba(0, 0, 0, 0.4);
}

@media (max-width: 575px) {
  .animate-box {
    margin-left: 0 !important;
  }

  @keyframes animate-circle {
    to {
      transform: translateX(-600px);
    }
  }

  .animate-circle {
    animation: animate-circle 1s linear alternate infinite;
  }

  @keyframes animate-stripe-circle {
    to {
      transform: translate(600px, -200px);
    }
  }

  .animate-stripe-circle {
    animation: animate-stripe-circle 1s linear alternate infinite;
  }
}

@media (min-width: 576px) {
  @keyframes animate-box {
    to {
      transform: translate(-60%, -30%);
    }
  }

  .animate-box {
    animation: animate-box 1s linear alternate infinite;
    padding: 40px;
  }

  @keyframes animate-circle {
    to {
      transform: translateX(-1000px);
    }
  }

  .animate-circle {
    animation: animate-circle 1s linear alternate infinite;
  }

  @keyframes animate-stripe-circle {
    to {
      transform: translate(150%, 150%);
    }
  }

  .animate-stripe-circle {
    animation: animate-stripe-circle 1s linear alternate infinite;
  }
}

.animate {
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.hidden-horizontally {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
}

@media (prefers-reduced-motion: no-preference) {
  .hidden-horizontally {
    transition: all 1s;
  }
}

.show-horizontally {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.hidden-vertically {
  opacity: 0;
  transform: translateY(50%);
}

@media (prefers-reduced-motion: no-preference) {
  .hidden-vertically {
    transition: all 1s;
  }
}

.show-vertically {
  opacity: 1;
  transform: translateY(0);
}
